<div class="container text-center">
  <h1>Cocktails Menu</h1>
  <p></p>
  <%= link_to 'add a cocktail', new_cocktail_path, class: "btn-outline-secondary" %>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <h4> <%= cocktail.name %> </h4>
          <%= link_to 'Details', cocktail_path(cocktail) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
