// Specific CSS for your home-page
h1, h2, h3, h4, h5 {
  font-family: futura;
  color: #ffffff;
}

p {
  color: #ffffff;
}

.card {
  background-color: $gray;
}

body {
  background-color: $light-gray;
}

a {
  color: $orange;
}
