// Specific CSS for your home-page
h1 {
  color: $gray;
}

h5, h2, h3, h4,  {
  font-family: futura;
  color: #ffffff;
}

p {
  color: #ffffff;
}

.banner {
  margin: 5%;
}

body {
  background-color: $light-gray;
}

a {
  color: $orange;
}
